.cell {
  float: left;
  height: 40px;
  width: 40px;
  border: 1px solid coral;
  line-height: 40px;
  text-align: center;
}
.clearFloat {
  clear: both;
}
li {
  list-style-type: none;
}
body {
  margin: 20px;
}
